body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(84, 128, 120);
    height: 100vh;
    width: 100%;
    gap: 10px;
}
.btn{
    padding:8px 10px;
    font-size: 18px;
    cursor: pointer;
}
.card {
    height: 30px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.card:hover {
    transform: scale(1.08);
}

.chess {
    display: flex;
    flex-direction: column;
}

.chessRow {
    height: 50px;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.black {
    height: 50px;
    width: 50px;
    background-color: #000;
}

.white {
    height: 50px;
    width: 50px;
    background-color: #fff;
}